body{ padding-top: 15px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 15px;      
      font-family: verdana;
      background-color:#4B515D;
   
               }

.item{   background-color:#f4f7fa;;
         opacity: .20;
        
           }

  
#Footer{ width: 70%
         height:auto;
         background-color: #4285F4;   
         float: none;
         padding-top: 2em;
         padding-bottom: 2em; 

            }


 .Footer-sub {width: 20%;
 	            float:left;
 	            color: black;
              color: white;
                }

 .Footer-sub-2{ width: 25%;
 	              float:left;  

               }

 .Footer-sub-2 ul li{ list-style: none;

                   } 

   .Footer-sub-2 ul li a{  color: black;
   	                       text-decoration: none;

                          }

  .Footer-sub-2 ul li a:hover{ color: white;
                               text-decoration: underline;
                               
                               }

  
  .Footer-sub-3  {  width: 20%;
 	                  float:right;      

                         }         
    .col-md-3{
 	            background-color:#929fba ;
              padding-left: 20px;  
              float:left;
              border-height: 5px; 
              padding-bottom: 73px;
              color: black 
              border-radius: 10px;
               }

    .col-md-2{
   	          background-color: ;
              padding-left: 40px;  
              float:left;
              border-height: 5px;
              padding-bottom: 52px;
              border-radius: 10px;

                }

  .col-md-4{
  	          background-color: #929fba  ;
              padding-left: 30px;
              float:left;
              border-height: 5px;
              border-radius: 10px;
               }

  
  .musa{
  	    padding-top: 2em;
  	    padding-bottom: 3em;
  	    background-color:#0d47a1;
        border-radius: 10px;

          }


.col-md-2{ background-color: #929fba  ;
           padding-bottom: 2em;
           border-radius: 10px;
            }



  .musa h3{

           font-size: 30px;
           color: #ffffff;

           }

  .dtt{ padding-top: 3em;
        padding-bottom: 3em;

            }

  .das{ background-color: #3F729B;
        padding-top: 1em;
        padding-bottom: 1em;

         }