body{ padding-top: 15px;
      padding-bottom: 20px;
      text-align: none;
      font-size: 15px;      
      font-family: verdana;
      background-color:white ;
   
               }

.item{   background-color:#f4f7fa;;
         opacity: .20;
        
           }

  
#Footer{ width: 70%
         height:auto;
         background-color: #4285F4;   
         float: none;
         padding-top: 2em;
         padding-bottom: 2em; 

            }
.footer h2{ font-size: 20px;

}


 .Footer-sub {width: 20%;
 	            float:left;
 	            color: black;
              color:black;
              font-weight: bold;
                }

 .Footer-sub-2{ width: 30%;
 	              float:left; 
                font-style: verdana; 
                font-weight: bold;
               }

 .Footer-sub-2 ul li{ list-style: none;
                      font-style: verdana;
                     font-weight: bold;
                   } 

   .Footer-sub-2 ul li a{  color: black;
   	                       text-decoration: none;
                            font-size: 15px;
                            font-style: verdana;
                            font-weight: bold;
                         }

        

  
  .Footer-sub-3  {  width: 20%;
 	                  float:right;
                    font-style: verdana;      

                         }   

    .col-md-3{
 	            background-color:none ;
              padding-left: 20px; 
               padding-right:  20px; 
              float:left;
              padding-bottom: 45px;
              color: black 
              
               }
 .col-md-3 p{ color: black;
               font-style: verdana;
                    
                 font-size: 20px;
                    }              

    .col-md-2{
   	          background-color:none ;
              padding-left: 20px;  
              float:left;
              border-height: 5px;
              padding-bottom: 45px;
            

                }

  .col-md-4{
  	          background-color:  ;
              padding-left: 20px;
              float:left;
              border-height: 5px;
            
               }
.col-md-4 { color: black;
            font-style: verdana;        
                     font-size: 20px;
                    }

  
  .musa{
  	    padding-top: 2em;
  	    padding-bottom: 2em;
  	    background-color:;
        

          }


.col-md-2{ background-color:  ;
           padding-bottom: 2em;
           border-radius: 10px;
            }
  .col-md-2 { color: black;
              font-style: verdana;
                font-size: 20px;
                    }



  .musa h3{

           font-size: 40px;
           font-style: italic;
           

           }

  .dtt{ padding-top: 1em;
        padding-bottom: 2em;

            }

  .das{ background-color: #7986cb;
        padding-top: 1em;
        padding-bottom: 1em;

         }
  .image{ max-width: 100%;
          max-height: 100%;

  }
  